
#font-small { font-size: small; }
#font-medium { font-size: medium; }
#font-large { font-size: large; }
#font-smaller { font-size: smaller; }
#font-larger { font-size: larger; }
#font-px { font-size: 12px; }
#font-em { font-size: 0.8em; }
#font-percent { font-size: 80%; }

